node_modules/
web/node_modules/
web/node_modules
web/node_modules/*
node_modules
webbackup/
webbackup
webbackup/*
webworking/*
webworking
webworking/
web/.next
web/.next/
web/.next/*
example/
example/*
example
.next
/web/.next
/web/.next/
/web/.next/*
*.gz
/.next
web/.next/app-build-manifest.json
